.padre{
    display:flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(178, 233, 214);
    height: 100%;
}

.hijo{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.boton{
    width: 40%;
}